/*******************************/
/* <<< reset & backgrounds >>> */
/*******************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;}

body {
  background-color: deepskyblue;
  background-image: url("media/HarknessTower.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  color: navajowhite;}

#card {
  background-color: rgba(0, 0, 0, .6);
  width: 800px;
  max-width: calc(100vw - 30px);
  margin: 100px auto;
  box-shadow: 0 0 50px 5px white;
  border-radius: 10px;
  padding: 1px 0;}

/***********************/
/* <<< nav element >>> */
/***********************/

nav {
  position: absolute;
  right: 10px;
  top: 10px;}

.flag {
  transition: all 0.25s ease-in-out;}

.flag:hover {
  box-shadow: 2px 2px 2px white;
  transform: scale(1.2);}

/**************************/
/* <<< header element >>> */
/**************************/

header {
  background-color: rgba(128, 0, 0, .25);
  width: 80%;
  height: auto;
  margin: -30px auto 30px;
  box-shadow: 0 0 3px 3px navajowhite;
  border-radius: 10px;}

header, figure {
  display: flex;
  align-items: center;}

figure {
  width: 25%;
  height: auto;}

#header-picture {
  background-color: rgba(125, 0, 0, .5);
  width: 100%;
  height: auto;
  margin: 1px;
  border-radius: 50%;
  padding: 1px;
  transition: all 0.25s ease-in-out;}

#header-picture:hover {
  padding: 3px;
  transform: scale(1.2);}

#header-text {
  width: 75%;
  height: auto;
  text-align: center;}

h1 {
  color: orange;
  font-size: max(1.5vw, 18px);
  line-height: 2em;
  text-shadow: 0 -1px 1px black, 1px 0 1px black, 0 1px 1px black, -1px 0 1px black;}

h2 {
  font-size: max(1.25vw, 16px);}

#locale {
  margin-bottom: 0;
  font-size: max(1.25vw, 16px);
  font-weight: 300;
  line-height: 2em;}

/***************************/
/* <<< article & lists >>> */
/***************************/

article, #lists {
  width: 90%;
  height: auto;
  margin: 30px auto;
  text-align: justify;}

h3 {
  color: orange;
  font-size: 16px;
  font-variant: small-caps;
  line-height: 2.5em;}

p, ul {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.25em;}

ul {
  list-style-type: none;
  font-size: 14px;}

li {
  margin-bottom: 5px;
  padding-left: 1.5em;
  text-indent: -1.5em;}

.contacts {
  display: inline;
  padding-left: 0.5em;
  text-indent: 0;}

a {
  color: white;}

a:hover {
  color: orangered;}

/**************************/
/* <<< footer element >>> */
/**************************/

footer {
  margin: 30px auto;
  color: silver;
  font-size: 12px;
  text-align: center;}
